NEXTCLOUD_HOSTNAME=nc.lab.local
NEXTCLOUD_RUNTIME_HOST=10.10.5.178
FRONTEND_INGRESS_HOST=10.10.5.179
DNS_SERVER=10.10.5.160
AUTH_MODE=oidc
PROJECT_GROUP_PATTERN=AI-NC-PROJ-<CODE>-VIEW/EDIT/OWNER
EXTERNAL_SHARING_DEFAULT=disabled
