NEXTCLOUD_HOSTNAME=nc.lab.local
IDP_HOSTNAME=id.lab.local
SELECTED_AUTH_MODE=SSO
SSO_PROTOCOL=OIDC
AD_DOMAIN=lab.local
AD_DC_HOST=dns01.lab.local
AD_DC_IP=10.10.5.160
LDAPS_PORT=636
ADMIN_GROUP=AI-NC-ADMINS
AUDIT_GROUP=AI-NC-AUDIT-READONLY
PROJECT_GROUP_PATTERN=AI-NC-PROJ-<CODE>-VIEW/EDIT/OWNER
BREAK_GLASS_ACCOUNT=nc-breakglass-admin
EXTERNAL_SHARING_DEFAULT=disabled
