GLOBAL_PREFIX=AI-
NEXTCLOUD_PREFIX=AI-NC-
SERVICE_PREFIX=AI-SVC-
PROJECT_GROUP_PATTERN=AI-NC-PROJ-<PROJECTCODE>-OWNER/EDIT/VIEW
OPTIONAL_ENV_SUFFIX=NONE
PROJECT_CODE_ALLOWED_CHARSET=A-Z0-9
PROJECT_CODE_LENGTH_RECOMMENDED=6-14
IDP_GROUP_CLAIM_NAME=groups
SEARCH_KG_ACL_MATCH=exact_string_match
