ESIGN_OPTION_INTERNAL_POLICY=B
ESIGN_OPTION_SAFETY_SOP=B
ESIGN_OPTION_LOW_RISK_FORMS=A
ESIGN_OPTION_REGULATED_CONTRACTS=C
MFA_STEP_UP_AT_SIGNING=true
INTERNAL_PKI_PRESENT=true
CERTIFICATE_ISSUANCE_MODEL=per_user_or_service
CERTIFICATE_VALIDITY_DAYS=<days>
REVOCATION_METHOD=internal_crl_or_ocsp
SIGNED_FOLDER_SEALING=read_only_after_finalize
EVIDENCE_PACK_SEALING=read_only_after_finalize
