# Workflow 70.10 approval-chain inputs
WORKFLOW_TEMPLATE_ID=POPIA-DEFAULT
IDENTITY_MODE=local_or_ad
DEFAULT_CHAIN_TYPE=scope_derived
SLA_STEP1_HOURS=24
SLA_STEP2_HOURS=48
SLA_STEP3_HOURS=72
QUORUM_ENABLED=false
DELEGATION_ENABLED=true
MFA_APPROVAL_REQUIRED=true
SELF_APPROVAL_BLOCKED=true
