# Workflow 70.30 signature standards inputs
SIGNATURE_ASSURANCE_TIER=S2
PDF_EMBEDDED_SIGNATURE_BLOCK=false
SIGNING_KEY_ROTATION_INTERVAL_DAYS=90
EVIDENCE_PACK_RETENTION_DAYS=2555
VERIFY_PUBLIC_KEY_TRUST_PATH=/opt/<stack>/trust/
RETAIN_OLD_PUBLIC_KEYS=true
