SEARCH_API_BIND=127.0.0.1
OPENSEARCH_URL=http://127.0.0.1:9200
KG_STORE=postgres
POSTGRES_DSN=<dsn>
TIKA_URL=http://127.0.0.1:9998
GROUP_CLAIM_NAME=groups
PROJECT_CODE_PATH_RULE=/Projects/<CODE>/
DEFAULT_INDEXING_MODE=metadata_only
OPTIONAL_M365_CONNECTOR=false
MINDMAP_ENABLED=true
