WINDMILL_BACKUP_TOOL=
WINDMILL_BACKUP_DESTINATION=
WINDMILL_DB_BACKUP_FREQUENCY=daily
WINDMILL_BACKUP_RETENTION_DAYS=90
WINDMILL_SECRETS_DEPENDENCY_STORAGE=
WINDMILL_SCRIPT_EXPORT_REPOSITORY=
WINDMILL_RESTORE_TEST_FREQUENCY=quarterly
