APPROVAL_EMAIL_ENABLED=yes
ACTION_LINK_TTL_MINUTES=15
STRICT_RECIPIENT_BINDING=no
REJECT_REASON_CATEGORIES_REQUIRED=yes
ACTION_CONFIRMATION_EMAIL_ENABLED=yes
APPROVAL_ACTION_BASE_URL=https://frontend.lab.local
ALLOWED_SENDER_DOMAIN=lab.local
