# AD / LDAPS connectivity inputs
AD_DOMAIN="lab.local"
BASE_DN="DC=lab,DC=local"
USERS_BASE_DN="OU=Users,DC=lab,DC=local"
GROUPS_BASE_DN="OU=Groups,DC=lab,DC=local"

DC1_HOST="dc01.lab.local"
DC1_IP="10.10.5.160"
DC2_HOST="stibiumdc02.lab.local"
DC2_IP="10.10.5.161"
LDAPS_PORT="636"

BIND_DN_FILE="/opt/idp/secrets/ad_bind_dn"
BIND_PASSWORD_FILE="/opt/idp/secrets/ad_bind_password"
GROUPS_CLAIM="groups"
NESTED_GROUPS="true"
